<policies>
  <inbound>
    <base />
    <rate-limit calls="${rate_limit_calls}" renewal-period="${rate_limit_renewal_period}" remaining-calls-header-name="x-ratelimit-remaining-calls" />
    <set-header name="Ocp-Apim-Subscription-Key" exists-action="delete" />
    <set-query-parameter name="subscription-key" exists-action="delete" />
  </inbound>
  <backend>
    <base />
  </backend>
  <outbound>
    <base />
    <include-fragment fragment-id="${response_fragment_id}" />
  </outbound>
  <on-error>
    <base />
  </on-error>
</policies>
