<policies>
  <inbound>
    <base />
    <set-backend-service backend-id="${backend_id}" />
  </inbound>
  <backend>
    <base />
  </backend>
  <outbound>
    <base />
  </outbound>
  <on-error>
    <base />
  </on-error>
</policies>
