# Do not include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
#, and azure-functions-worker doesn't exist on pypi.
azure-functions
azure-identity==1.25.3
azure-storage-blob==12.30.3
